<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="Filepath" serializeAs="String">
                <value>C:\Users\Public\incident.txt</value>
            </setting>
            <setting name="SECINCMAN" serializeAs="String">
                <value />
            </setting>
            <setting name="IncidentRecorder" serializeAs="String">
                <value />
            </setting>
            <setting name="SECtrc" serializeAs="String">
                <value />
            </setting>
            <setting name="techresponseTeam" serializeAs="String">
                <value />
            </setting>
            <setting name="LegalContact" serializeAs="String">
                <value />
            </setting>
            <setting name="HRContact" serializeAs="String">
                <value />
            </setting>
            <setting name="CommsContact" serializeAs="String">
                <value />
            </setting>
            <setting name="AdditionalContacts" serializeAs="String">
                <value />
            </setting>
            <setting name="IncidentName" serializeAs="String">
                <value />
            </setting>
            <setting name="wordDOCSavelocation" serializeAs="String">
                <value>C:\users\Public\ir.doc</value>
            </setting>
            <setting name="IncidentCoordniator" serializeAs="String">
                <value />
            </setting>
            <setting name="SupportingActionsCoordinator" serializeAs="String">
                <value />
            </setting>
            <setting name="IncidenDeclaredBy" serializeAs="String">
                <value />
            </setting>
            <setting name="IncidentDeclaredDate" serializeAs="String">
                <value />
            </setting>
            <setting name="Type_of_incident" serializeAs="String">
                <value />
            </setting>
            <setting name="Incident_location" serializeAs="String">
                <value />
            </setting>
            <setting name="incident_source" serializeAs="String">
                <value />
            </setting>
            <setting name="systems_involved" serializeAs="String">
                <value />
            </setting>
            <setting name="AdditionalInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="DetectionInfo" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.3460.0.53" newVersion="18.3460.0.53" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>